@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{

    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "permisos";
    </script>
}
<!-- Modals end -->

<div class="content">
    <div class="title"><h5>Registro de Pruebas COVID</h5></div>
    <div style="display:none">
        <input type="hidden" class="form-control form-control-sm P" id="txtIdTrabajador" readonly="readonly" />
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtDocumentoTrabajador" class="required">N° Documento</label>
            <input type="text" class="form-control form-control-sm P" id="txtDocumentoTrabajador" placeholder="N° Documento" required="required" onkeypress="consulta(event)" />
        </div>
        <div class="col-sm-6">
            <label for="txtNombreTrabajador" class="required">Nombre Trabajador</label>
            <input type="text" class="form-control form-control-sm P" id="txtNombreTrabajador" placeholder="Nombre Trabajador" readonly="readonly" />
        </div>
        <div class="col-sm-3">
            <label for="cboCtrlModulos" class="required">Resultado de prueba</label>
            <select class="form-control form-control-sm P" id="cboCtrlModulos" required="required"></select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" id="chkStListar">
                <label for="chkStListar">Listar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" id="chkStAdicionar">
                <label for="chkStAdicionar">Adicionar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" id="chkStModificar">
                <label for="chkStModificar">Modificar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" id="chkStEliminar">
                <label for="chkStEliminar">Eliminar</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" id="chkStReporte">
                <label for="chkStReporte">Reporte</label>
            </div>
        </div>
    </div>

    <div class="text-right">
        <input class="btn btn-primary" id="btnNuevo" type="button" value="Nuevo" style="visibility:hidden">
        <input class="btn btn-success" id="btnGrabar" type="button" value="Guardar">
    </div>
</div>
<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

@section scripts{
    @Scripts.Render("~/Scripts/ConsultaPermisos.js")
}
