@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{

    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "aplazarincidencia";
    </script>

}

<!-- Modals end -->


<div class="content">
    <div class="form-row">
        <div class="col-sm">
            <div class="title"><h5>Información de Incidencias</h5></div>
        </div>
        <div class="col-sm-2">
            <label for="txtIdIncidente" class="required">N° de Indicente</label>
            <input class="form-control form-control-sm DI" id="txtIdIncidente" onkeypress="consulta(event)" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-8">
            <label for="cboEmpresaIncidente" class="required">Empresa Intervenida</label>
            <input class="form-control form-control-sm DI" id="cboEmpresaIncidente" readonly="readonly" placeholder="Empresa" />
        </div>
        <div class="col-sm-4">
            <label for="txtfechaIncidente" class="required">Fecha Incidente</label>
            <input type="date" class="form-control form-control-sm DI" id="txtfechaIncidente" readonly="readonly" placeholder="Días de Incumplimiento" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-5">
            <label for="txtBloque">Bloque</label>
            <input class="form-control form-control-sm DE" id="txtBloque" readonly="readonly" placeholder="Bloque" />
        </div>
        <div class="col-sm-7">
            <label for="txtEspecificacion">Especificación</label>
            <input class="form-control form-control-sm DE" id="txtEspecificacion" readonly="readonly" placeholder="Especificación" />
        </div>
    </div>
    <div class="form-row">
        <p>Detalle del Incidente</p>
        <textarea id="txtDetalles" class="form-control form-control-sm DE" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> </textarea>
        @*<textarea id="txtDetalles" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 90%" readonly="readonly"></textarea>*@

    </div>
</div>
<div class="content" id="divSolucion" style="display:none">
    <hr class="mb-20" />
    <div class="form-row">
        <div class="col-sm">
            <div class="title"><h5>Registrar dias a aplazar</h5></div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-5">
            <label for="cboTipoSolucion" class="required">Cantidad de dias de solicitado</label>
            <input type="number" min="0" value="1" class="form-control form-control-sm HD" id="txtDiasAplazar" required />
            @*<select class="form-control form-control-sm E" id="cboTipoSolucion" placeholder="Tipo Solución"></select>*@
        </div>
    </div>
    @*<div class="form-row">
        <div class="col-sm">
            <input type="file" onchange="codificarImg(this)" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <img id="imgVistaPrevia" class="E" src="" name="imgVistaPrevia" alt="Imagen a Cargar" height="64" style="display:none">
        </div>
    </div>*@
    <div class="form-row">
        <p>Detalle de solicitud de aplazamiento</p>
        <textarea class="form-control form-control-sm E" id="txtdetalleapla" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
    </div>
    <div class="text-right">
        <input class="btn btn-success E" type="button" id="btnGrabaraplazamiento" value="Aceptar">
        <button class="btn btn-primary" type="button" id="bntNuevo">Nuevo</button>
    </div>
</div>
<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
@section scripts{
    @Scripts.Render("~/Scripts/AplazarIncidencia.js")
}