@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{

    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "SeguimientoIncidencia";
    </script>


    <div class="modal modal-full ie-scroll-fix" id="seguimientoECM-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content w-lg-auto">
                <a href="#" class="close" role="button" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="form-row">
                    <div class="col-sm E">
                        <label for="txtFechaSeguimientoECM" class="required">Fecha de Seguimiento ECM's'</label>
                        <input type="date" class="form-control form-control-sm E" id="txtFechaSeguimientoECM" required="required" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm">
                        <label for="txtSeguimientoECM" class="required">Detalle del Seguimiento</label>
                        <textarea class="form-control form-control-sm E" required="required" id="txtSeguimientoECM" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
                    </div>
                </div>
                <div class="text-right">
                    <a href="#vista3-modal" class="btn btn-secondary E" id="btnSeguimientoECM" role="button" style="visibility:visible">Registrar Seguimiento Incidencia</a>
                </div>
                <div class="content">
                    <hr class="mb-20" />
                </div>
                <div class="mw-full">
                    <div class="card p-0 bg-very-dark-dm">
                        <div id="divTablaECM" class="table-responsive">
                            <table id="tablaDatos" class="table table-inner-bordered">
                            </table>
                        </div>
                    </div>
                </div>
                <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
            </div>
        </div>
    </div>
    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "SeguimientoIncidencia";
    </script>
}

<!-- Modals end -->
<div class="content">
    <div class="form-row">
        <div class="col-sm">
            <div class="title"><h5>Seguimiento Incidencia</h5></div>
        </div>
        <div class="col-sm-2">
            <label for="txtIdIncidente" class="required">N° de Indicente</label>
            <input class="form-control form-control-sm DI" id="txtIdIncidente" onkeypress="consulta(event)" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-8">
            <label for="cboEmpresaIncidente" class="required">Empresa Intervenida</label>
            <input class="form-control form-control-sm DI" id="cboEmpresaIncidente" readonly="readonly" placeholder="Empresa" />
        </div>
        <div class="col-sm-4">
            <label for="txtfechaIncidente" class="required">Fecha Incidente</label>
            <input type="date" class="form-control form-control-sm DI" id="txtfechaIncidente" readonly="readonly" placeholder="Días de Incumplimiento" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-5">
            <label for="txtBloque">Bloque</label>
            <input class="form-control form-control-sm DE" id="txtBloque" readonly="readonly" placeholder="Bloque" />
        </div>
        <div class="col-sm-7">
            <label for="txtEspecificacion">Especificación</label>
            <input class="form-control form-control-sm DE" id="txtEspecificacion" readonly="readonly" placeholder="Especificación" />
        </div>
    </div>
    <div class="form-row">
        <p>Detalle del Incidente</p>
        <textarea id="txtDetalles" class="form-control form-control-sm DE" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> </textarea>
        @*<textarea id="txtDetalles" style="position: relative; margin: 10px 10px 10px 10px; width:90%; height: 90%" readonly="readonly"></textarea>*@
    </div>
    <div class="form-row">
        <a href="#seguimientoECM-modal" class="btn btn-secondary" id="btnModalECM" role="button">Seguimiento ECM</a>
    </div>
</div>
<div class="content container-fluid" id="divSeguimiento" style="display:none">
    <div class="form-row">
        <div class="col-sm-12">
            <div class="title"><h5>Registrar Seguimiento</h5></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-4 ">
            <label for="txtFechaSeguimiento" class="required">Fecha de Seguimiento</label>
            <input type="date" class="form-control form-control-sm E" id="txtFechaSeguimiento" required="required" />
        </div>
        <div class="col-sm-4">
            <label for="cboTipoSeguimiento" class="required">Estado de Seguimiento</label>
            <select class="form-control form-control-sm E required" id="cboTipoSeguimiento" required="required" placeholder="Tipo Solución"></select>
        </div>
    </div>
    <div class="form-row">
        <label for="txtSeguimiento" class="required">Detalle del Seguimiento</label>
        <textarea class="form-control form-control-sm E" required="required" id="txtSeguimiento" style="border: none; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></textarea>
    </div>
    <div class="text-right">
        <input class="btn btn-success E" type="button" id="btnGrabarSeguimiento" value="Aceptar">
    </div>
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
@section scripts{
    @Scripts.Render("~/Scripts/SeguimientoIncidencia.js")
}