@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="title"><h5>Registro Stakeholders</h5></div>
    <p>Si es nueva empresa. Realice el registro en el siguiente enlace <a href="@Url.Action("Operacion", "Empresa")">Registro de Empresa</a></p>
    <div class="form-row">
        <div class="col-sm">
            <label class="required">Tipo de Empresa</label>
            <select class="form-control form-control-sm E" id="cboTipoEmpresa" required="required"></select>
        </div>
        <div class="col-sm">
            <label class="required">Digite nombre comercial de la empresa</label>
            <input type="text" class="form-control form-control-sm E" id="txtbuscarPorEmpresa" required="required" />
        </div>
        <div class="col-sm">
            <label>Nombre y Apellidos del Proveedor</label>
            <input type="text" class="form-control form-control-sm" id="txtNombresApellidosProveedor" readonly />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <label class="required">Posicion frente a MINSUR</label>
            <select class="form-control form-control-sm E" id="cboPosicion" required="required"></select>
        </div>
        <div class="col-sm">
            <div class="col-sm-10 offset-1">
                <label>&nbsp;</label>
                <input class="form-control form-control-sm" id="PosicionColor" readonly />
            </div>
        </div>
        <div class="col-sm">
            <label class="required">Poder de Convocatoria</label>
            <select class="form-control form-control-sm E" id="cboPoderConvocatoria" required="required"></select>
        </div>
        <div class="col-sm">
            <label class="required">Fecha</label>
            <input type="date" class="form-control form-control-sm E" id="txtFechaStakeholder" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm">
            <label>Alojamiento</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtAlojamiento" />
        </div>
        <div class="col-sm">
            <label>Comedor</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtComedor" />
        </div>
        <div class="col-sm">
            <label>Transporte</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtTransporte" />
        </div>
        <div class="col-sm">
            <label>Lavanderia</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtLavanderia" />
        </div>
        <div class="col-sm">
            <label>Compañia</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtCompania" />
        </div>
        <div class="col-sm">
            <label>Riesgo</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtRiesgo" />
        </div>
        <div class="col-sm">
            <label>Otros</label>
            <input type="number" min="0" value="0" class="servicio form-control form-control-sm" id="txtOtros" />
        </div>
        <div class="col-sm">
            <label>Total Servicios</label>
            <input type="number" min="0" value="0" class="form-control form-control-sm" id="txtTotalServicios" readonly />
        </div>
    </div>
    <div class="form-row">
        <label class="required">Comentario del stakeholder</label>
        <textarea id="txtAnalisis" class="form-control E" rows=11 cols=50 maxlength=500 required></textarea>
    </div>
    <div class="text-right">
        <input class="btn btn-success" type="button" id="btnGuardar" value="Guardar">
    </div>
</div>
<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
@section Scripts{
    @Scripts.Render("~/Scripts/ConsultaStakeholders.js")
}
