@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{
    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "detalleComedores";
    </script>
}

<div class="content">
    <div class="title text-center"><h5 id="detalleComedores">Registro de Detalles de Comedores</h5></div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtEmpresaNNLL" class="required">Digite nombre del comedor</label>
            <input type="text" class="form-control form-control-sm E" id="txtEmpresaNNLL" placeholder="Nombre Empresa" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="cboCondicion" class="required">Seleccione Condición del Comedor</label>
            <select class="form-control form-control-sm E" id="cboCondicion" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboAntiguedad" class="required">Seleccione Antiguedad </label>
            <select class="form-control form-control-sm E" id="cboAntiguedad" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboPropiedadLocal" class="required">Seleccione tipo de Propiedad del Local</label>
            <select class="form-control form-control-sm E" id="cboPropiedadLocal" required="required"></select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtPrecioAlquiler" required="required">Precio de Alquiler</label>
            <input type="text" class="form-control form-control-sm E" id="txtPrecioAlquiler" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCertificacionCocinero" class="required">Cocinero Certificado</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtCertificacionCocinero" checked>
                    <label for="txtCertificacionCocinero">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtContraguardiCocinero" required="required">Contra Guardia Cocinero</label>
            <input type="text" class="form-control form-control-sm E" id="txtContraguardiCocinero" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtNumeroDePisos" required="required">Número de Pisos Utilizados</label>
            <input type="number" class="form-control form-control-sm E" id="txtNumeroDePisos" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="cboMaterialEdificacion" required="required">Tipo Material Edificación</label>
            <select class="form-control form-control-sm E" id="cboMaterialEdificacion" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="txtTrampaGrasa" class="required">Trampa de Grasa</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtTrampaGrasa" checked>
                    <label for="txtTrampaGrasa">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtPosasCemento" required="required">Cant Posas de Cemento</label>
            <input type="number" class="form-control form-control-sm E" id="txtPosasCemento" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtPosasINOX" required="required">Cant Posas de INOX</label>
            <input type="number" class="form-control form-control-sm E" id="txtPosasINOX" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="cboTipoCocina" required="required">Tipo de Cocina</label>
            <select class="form-control form-control-sm E" id="cboTipoCocina" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadCocinas" required="required">Cantidad de Cocinas</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadCocinas" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadHornillas" required="required">Cant Posas de Hornillas</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadHornillas" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadCongeladoras" required="required">Cant. Congeladoras</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadCongeladoras" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtCantidadRefrigeradoras" required="required">Cant. Refrigeradoras</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadRefrigeradoras" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadHornos" required="required">Cantidad de Hornos</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadHornos" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadMesasInox" required="required">Cant Mesas de INOX</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadMesasInox" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadExtintores" required="required">Cant. Extintores</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadExtintores" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="cboCategoriaComedor" required="required">Categoria de Comedor</label>
            <select class="form-control form-control-sm E" id="cboCategoriaComedor" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="txtCapacidadOperativa" required="required">Capacidad Operativa</label>
            <input type="number" class="form-control form-control-sm E" id="txtCapacidadOperativa" required="required" />
        </div>
    </div>
</div>
<div class="text-right">
    <button class="btn btn-success" type="button" id="btnGrabar">Grabar Detalles</button>
    <button class="btn btn-primary" type="button" id="bntNuevo">Nuevo</button>
</div>


<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/ConsultaDetalleComedores.js")
}