
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{
    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "detalleLavanderias";
    </script>
}

<div class="content">
    <div class="title text-center"><h5 id="detalleLavanderias">Registro de Detalles de Lavanderias</h5></div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtEmpresaNNLL" class="required">Digite nombre del comedor</label>
            <input type="text" class="form-control form-control-sm E" id="txtEmpresaNNLL" placeholder="Nombre Empresa" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="cboCondicion" class="required">Seleccione Condición del Comedor</label>
            <select class="form-control form-control-sm E" id="cboCondicion" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboAntiguedad" class="required">Seleccione Antiguedad </label>
            <select class="form-control form-control-sm E" id="cboAntiguedad" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboPropiedadLocal" class="required">Seleccione tipo de Propiedad del Local</label>
            <select class="form-control form-control-sm E" id="cboPropiedadLocal" required="required"></select>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtCantidadLavadoras" required="required">Cantidad Lavadoras</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadLavadoras" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadSecadoras" required="required">Cantidad Secadoras</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadSecadoras" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCapacidadInstalada" required="required">Capacidad Instalada</label>
            <input type="number" class="form-control form-control-sm E" id="txtCapacidadInstalada" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtTermaSolar" class="required">Terma Solar</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtTermaSolar" checked>
                    <label for="txtTermaSolar">SI/NO</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtLlaveDiferencial" class="required">LLave Diferencial</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtLlaveDiferencial" checked>
                    <label for="txtLlaveDiferencial">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtExtintoVigente" class="required">Extintor Vigente</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtExtintoVigente" checked>
                    <label for="txtExtintoVigente">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtLucesEmergencia" class="required">Luces de Emergencia</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtLucesEmergencia" checked>
                    <label for="txtLucesEmergencia">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtTermometro" class="required">Termometro</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtTermometro" checked>
                    <label for="txtTermometro">SI/NO</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="cboTipoPiso" required="required">Tipo de Piso</label>
            <select class="form-control form-control-sm E" id="cboTipoPiso" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboTipoPeredes" required="required">Tipo de Paredes</label>
            <select class="form-control form-control-sm E" id="cboTipoPeredes" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="cboTipoTecho" required="required">Tipo de Techo</label>
            <select class="form-control form-control-sm E" id="cboTipoTecho" required="required"></select>
        </div>
        <div class="col-sm-3">
            <label for="txtPediluvio" class="required">Pediluvio</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtPediluvio" checked>
                    <label for="txtPediluvio">SI/NO</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtPuntoDesinfeccion" class="required">Punto de Desinfección</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtPuntoDesinfeccion" checked>
                    <label for="txtPuntoDesinfeccion">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtBitacora" class="required">Bitacora</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtBitacora" checked>
                    <label for="txtBitacora">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtRegistroTemperatura" class="required">Registro de Temperatura</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtRegistroTemperatura" checked>
                    <label for="txtRegistroTemperatura">SI/NO</label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtTamizaje" class="required">Registro de Tamizaje</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtTamizaje" checked>
                    <label for="txtTamizaje">SI/NO</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <button class="btn btn-success" type="button" id="btnGrabar">Grabar Detalles</button>
    <button class="btn btn-primary" type="button" id="bntNuevo">Nuevo</button>
</div>


<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/ConsultaDetalleLavanderias.js")
}