@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{
    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "DeudasNNLL";
    </script>
}
<div class="content">
    <div class="title"><h5>Deudas a Negocios Locales</h5></div>
    <div class="form-row">
        <div class="col-sm-2">
            <label for="cboTipoEmpresa" class="required">Tipo de Empresa</label>
            <select class="form-control form-control-sm" id="cboTipoEmpresa"></select>
        </div>
        <div class="col-sm-5">
            <label for="txtEmpresaNNLL" class="required">Digite los datos del Negocio Local</label>
            <input type="text" class="form-control form-control-sm E" id="txtEmpresaNNLL" placeholder="Nombre Empresa" required="required" />
        </div>
        <div class="col-sm-5">
            <label for="txtEmpresaECM" class="required">Digite los datos de la Empresa Contratista</label>
            <input type="text" class="form-control form-control-sm E" id="txtEmpresaECM" placeholder="Nombre Empresa" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-2">
            <label for="añoDeuda">Año de  Deuda</label>
            <input type="number" min="1900" max="2099" step="1" value="2021" maxlength="4" minlength="4" id="añoDeuda" />
        </div>
        <div class="col-sm-2">
            <label for="cboMesDeuda">Mes de  Deuda</label>
            <select class="form-control form-control-sm E" id="cboMesDeuda" required="required"></select>
        </div>
        <div class="col-sm-2">
            <label for="txtFechaValorizacion">Fecha de Valorización</label>
            <input type="date" class="form-control form-control-sm E" id="txtFechaValorizacion" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtMontoDeuda">Monto de Deuda</label>
            <input type="number" class="form-control form-control-sm E" id="txtMontoDeuda" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtEstadoValorizacion" class="required">Estado Valorización</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtEstadoValorizacion" checked>
                    <label for="txtEstadoValorizacion">Estado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="txtFechaOrdenServicioECM">Fecha de Orden de Servicio ECM</label>
            <input type="date" class="form-control form-control-sm" id="txtFechaOrdenServicioECM" required="required" />
        </div>
        <div class="col-sm-6">
            <label for="txtOrdenServicioECM" class="required">Estado Order de Servicio ECM</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtOrdenServicioECM">
                    <label for="txtOrdenServicioECM">Estado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="txtFechaFacturacion">Fecha de Facturación</label>
            <input type="date" class="form-control form-control-sm" id="txtFechaFacturacion" required="required" />
        </div>
        <div class="col-sm-6">
            <label for="txtEstadoFacturacion" class="required">Estado Facturación</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtEstadoFacturacion">
                    <label for="txtEstadoFacturacion">Estado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="txtFechaPago">Fecha de Pago</label>
            <input type="date" class="form-control form-control-sm" id="txtFechaPago" required="required" />
        </div>
        <div class="col-sm-6">
            <label for="txtEstadoPago" class="required">Estado Pago</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" id="txtEstadoPago">
                    <label for="txtEstadoPago">Estado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn-success" type="button" id="btnGrabarDeuda">Grabar Deuda</button>
        <button class="btn btn-primary" type="button" id="bntNuevo">Nuevo</button>
    </div>
</div>
<div class="content">
    <hr class="mb-20" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
@section scripts{
    @Scripts.Render("~/Scripts/ConsultaDeudasNNLL.js")
}
