@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modals start -->
@section modals{
    <script>
        var siteActive = document.getElementById("docs-section-id");
        siteActive.value = "VehiculosDeliverys";
    </script>
}
<div class="content">
    <div class="title"><h5>Deudas a Negocios Locales</h5></div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtEmpresaNNLL" class="required">Digite los datos del Negocio Local</label>
            <input type="text" class="form-control form-control-sm E" id="txtEmpresaNNLL" placeholder="Nombre Empresa" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtPlacaVehiculo" class="required">Placa del Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtPlacaVehiculo" placeholder="placa Vehículo" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtTipoVehiculo" class="required">Tipo de Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtTipoVehiculo" placeholder="Tipo Vehículo" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtPropietarioVehiculo" class="required">Propietario del Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtPropietarioVehiculo" placeholder="Propietario del Vehículo" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtModeloVehiculo" class="required">Modelo Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtModeloVehiculo" placeholder="Modelo Vehículo" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtMarcaVehiculo" class="required">Marca Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtMarcaVehiculo" placeholder="Marca Vehículo" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtSede" class="required">Sede</label>
            <input type="text" class="form-control form-control-sm E" id="txtSede" placeholder="Sede" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtAñoFabricacion" class="required">Año de Fabricación</label>
            <input type="number" class="form-control form-control-sm E" id="txtAñoFabricacion" placeholder="Año de Fabricación" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtFechaVencimientoSOAT" class="required">Fecha de Vencimiento de SOAT</label>
            <input type="date" class="form-control form-control-sm E" id="txtFechaVencimientoSOAT" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtBrevete" class="required">Categoría Mínima De Brevete</label>
            <input type="text" class="form-control form-control-sm E" id="txtBrevete" placeholder="Categoría Mínima De Brevete" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCantidadCoolers" class="required">Capacidad Maxima de Coolers</label>
            <input type="number" class="form-control form-control-sm E" id="txtCantidadCoolers" placeholder="Capacidad Maxima de Coolers" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCirculacionSUNARP" class="required">Circulación SUNARP</label>
            <input type="text" class="form-control form-control-sm E" id="txtCirculacionSUNARP" placeholder="Circulación SUNARP" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtVinculoVehiculo" class="required">Vinculo del Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtVinculoVehiculo" placeholder="Vinculo del Vehículo" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtFechaInspeccionTecnica" class="required">Inspección Técnica</label>
            <input type="date" class="form-control form-control-sm E" id="txtFechaInspeccionTecnica" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtSeguroContraTerceros" class="required">Seguro Contra Terceros</label>
            <input type="text" class="form-control form-control-sm E" id="txtSeguroContraTerceros" placeholder="Seguro Contra Terceros" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtCategoriaVehiculo" class="required">Categoria Vehículo</label>
            <input type="text" class="form-control form-control-sm E" id="txtCategoriaVehiculo" placeholder="Categoria Vehículo" required="required" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="txtCombustible" class="required">Tipo De Combustible</label>
            <input type="text" class="form-control form-control-sm E" id="txtCombustible" placeholder="Tipo de Combustible" required="required" />
        </div>
        <div class="col-sm-3">
            <label for="txtfechaSeguroContraTerceros" class="required">Fecha Seguro Contra Terceros</label>
            <input type="date" class="form-control form-control-sm E" id="txtfechaSeguroContraTerceros" required="required" />
        </div>
        
        <div class="col-sm-3">
            <label for="txtVehiculoActivo" class="required">Vehiculo Activo</label>
            <div class="custom-control">
                <div class="custom-switch">
                    <input type="checkbox" class="form-control form-control-sm E" id="txtVehiculoActivo"  checked>
                    <label for="txtVehiculoActivo">SI/NO</label>
                </div>
            </div>
        </div>
        
    </div>
    <div class="text-right">
        <button class="btn btn-success" type="button" id="btnGrabarVehiculo">Grabar Vehículo</button>
        <button class="btn btn-primary" type="button" id="bntNuevo">Nuevo</button>
    </div>

    
</div>
<div class="content">
    <hr class="mb-21" />
</div>
<div class="mw-full">
    <div class="card p-0 bg-very-dark-dm">
        <div id="divTabla" class="table-responsive">
            <table id="tablaDatos" class="table table-inner-bordered">
            </table>
        </div>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
@section scripts{
    @Scripts.Render("~/Scripts/ConsultaVehiculosDelivery.js")
}





